# Action1	

"Santa的接待安排
圣诞节前100天，Santa开放了workshop，欢迎以家庭单位的参观，如何更合理的安排这些家庭参观？
每个家庭有10个选择choice0-9，数字代表了距离圣诞节的天数，比如 1代表12月24日，每个家庭必须并且只安排一次参观
家庭数量 5000，即family_id 为[0, 4999]，每天访问的人数需要在125-300人

为了更合理的计算Santa的安排能力，我们使用preference cost和accounting penalty两个指标

1）preference cost，代表Santa的个性化安排能力

2）accounting penalty，代表Santa安排的财务成本

每天接待的人员数N(d)如果大于125，就会拥挤，产生过多的清洁成本
最终的 Score = preference cost + accounting penalty
最终提交每个家庭的安排 submission.csv

"			
"1、使用LP对大部分家庭进行安排（30points）

2、使用MIP对剩余家庭进行安排（30points）

3、对得到的解决方案进行优化（20points）"

In [1]:
import pandas as pd

data = pd.read_csv('./family_data.csv', index_col='family_id')
data.head()

,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people
family_id,,,,,,,,,,,
0,52,38,12,82,33,75,64,76,10,28,4
1,26,4,82,5,11,47,38,6,66,61,4
2,100,54,25,12,27,82,10,89,80,33,3
3,2,95,1,96,32,6,40,31,9,59,2
4,53,1,47,93,26,3,46,16,42,39,4

In [2]:
def get_penalty(n, choice):
    if choice == 0: 
        penalty=0
    if choice == 1: 
        penalty=50
    if choice == 2: 
        penalty = 50 + 9*n
    if choice == 3: 
        penalty = 100 + 9*n
    if choice == 4: 
        penalty = 200 + 9*n
    if choice == 5: 
        penalty = 200 + 18*n
    if choice == 6: 
        penalty = 300 + 18*n
    if choice == 7: 
        penalty = 300 + 36*n
    if choice == 8: 
        penalty = 400 + 36*n
    if choice == 9: 
        penalty = 500 + (36+199)*n
    if choice >9:
        penalty = 500 + (36+398)*n
    return penalty

In [3]:
import numpy as np
N_DAYS = 100
N_FAMILY = 5000
MIN_OCCUPANCY = 125
MAX_OCCUPANCY = 300

pcost_mat = np.full(shape=(N_FAMILY,100), fill_value=999999)

for f in range(N_FAMILY):
    f_num = data.loc[f, 'n_people']
    #print(f_num)
    pcost_mat[f,:] = get_penalty(f_num, 10)
    for choice in range(10):
        temp = data.loc[f][choice]
        penalty = get_penalty(f_num, choice)
        pcost_mat[f,temp-1] = penalty
pcost_mat

array([[2236, 2236, 2236, ..., 2236, 2236, 2236],
       [2236, 2236, 2236, ..., 2236, 2236, 2236],
       [1802, 1802, 1802, ..., 1802, 1802,    0],
       ...,
       [3104, 3104,  616, ..., 3104, 3104, 3104],
       [ 390, 2670, 2670, ..., 2670, 2670, 2670],
       [2236, 2236, 2236, ..., 2236, 2236, 2236]])

In [4]:
pcost_mat.shape

(5000, 100)

In [5]:
acost_mat = np.zeros(shape=(MAX_OCCUPANCY+1, MAX_OCCUPANCY+1), dtype=np.float64)
for i in range(acost_mat.shape[0]):
    for j in range(acost_mat.shape[1]):
        diff=abs(i-j)
        acost_mat[i,j] = max(0, (i-125)/400*i**(0.5+diff/50.0))
acost_mat

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [4.16316072e+15, 3.71482922e+15, 3.31477861e+15, ...,
        7.46610759e+00, 8.36716954e+00, 9.37697794e+00],
       [4.79555148e+15, 4.27883100e+15, 3.81778713e+15, ...,
        8.43020770e+00, 7.52185316e+00, 8.43020770e+00],
       [5.52415954e+15, 4.92860244e+15, 4.39725208e+15, ...,
        9.51970597e+00, 8.49339085e+00, 7.57772228e+00]])

In [6]:
FAMILY_SIZE = data['n_people'].values
FAMILY_SIZE

array([4, 4, 3, ..., 6, 5, 4])

In [7]:
DESIRED = data.values[:,:-1] -1
DESIRED

array([[51, 37, 11, ..., 75,  9, 27],
       [25,  3, 81, ...,  5, 65, 60],
       [99, 53, 24, ..., 88, 79, 32],
       ...,
       [31, 65, 53, ..., 80,  2,  6],
       [66, 91,  3, ..., 11, 25, 69],
       [12, 10, 24, ..., 38, 17, 46]])

In [8]:
from ortools.linear_solver import pywraplp
def solveLP():
    solver = pywraplp.Solver('AssignmentProblem', pywraplp.Solver.GLOP_LINEAR_PROGRAMMING)
    #solver = pywraplp.Solver('AssignmentProblem', pywraplp.Solver.CBC_MIXED_INTEGER_PROGRAMMING)
    
    x={}
    
    candidates = [[] for x in range(N_DAYS)]
    
    for i in range(N_FAMILY):
        for j in DESIRED[i,:]:
            candidates[j].append(i)
            x[i,j] = solver.BoolVar('x[%i,%i]' %(i,j))
    #print(x)
    daily_occupancy = [solver.Sum([x[i,j] * FAMILY_SIZE[i] for i in candidates[j]]) \
                        for j in range(N_DAYS)]
    family_presence = [solver.Sum(x[i,j] for j in DESIRED[i,:]) \
                for i in range(N_FAMILY)]
    preference_cost = solver.Sum([pcost_mat[i,j] *x[i,j] for i in range(N_FAMILY) \
                                  for j in DESIRED[i,:]])
    solver.Minimize(preference_cost)
    
    for j in range(N_DAYS-1):
        solver.Add(daily_occupancy[j] - daily_occupancy[j+1]<=25)
        solver.Add(daily_occupancy[j+1] - daily_occupancy[j]<=25)
        
    for i in range(N_FAMILY):
        solver.Add(family_presence[i]==1)
    for j in range(N_DAYS):
        solver.Add(daily_occupancy[j]>=MIN_OCCUPANCY)
        solver.Add(daily_occupancy[j]<=MAX_OCCUPANCY)
        
    result = solver.Solve()
    #print(x)
    temp = [(i,j,x[i,j].solution_value()) for i in range(N_FAMILY) \
        for j in DESIRED[i,:] if x[i,j].solution_value()>0]
    df = pd.DataFrame(temp, columns=['family_id','day','result'])
    return df
#solveLP()

In [9]:
%%time 
result = solveLP()
result

CPU times: user 12.4 s, sys: 206 ms, total: 12.6 s
Wall time: 13.3 s

In [10]:
result.value_counts()

THRS = 0.999
assigned_df = result[result.result>THRS]
assigned_df

      family_id  day  result
0             0   51     1.0
1             1   25     1.0
2             2   99     1.0
3             3    1     1.0
4             4   52     1.0
...         ...  ...     ...
5077       4995   15     1.0
5078       4996   87     1.0
5079       4997   31     1.0
5080       4998   91     1.0
5081       4999   12     1.0

[4931 rows x 3 columns]

In [11]:
unassigned_df = result[(result.result<THRS) & (result.result>1-THRS)]
unassigned_df

      family_id  day  result
60           59   38  0.2500
61           59   14  0.7500
242         240   32  0.7500
243         240   56  0.2500
360         357   24  0.4625
...         ...  ...     ...
4992       4912    8  0.4000
4994       4914   38  0.6000
4995       4914   43  0.4000
5042       4961   53  0.7500
5043       4961   15  0.2500

[138 rows x 3 columns]

In [12]:
assigned_df['family_size'] = FAMILY_SIZE[assigned_df.family_id]
assigned_df

/Users/Leigh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      family_id  day  result  family_size
0             0   51     1.0            4
1             1   25     1.0            4
2             2   99     1.0            3
3             3    1     1.0            2
4             4   52     1.0            4
...         ...  ...     ...          ...
5077       4995   15     1.0            4
5078       4996   87     1.0            2
5079       4997   31     1.0            6
5080       4998   91     1.0            5
5081       4999   12     1.0            4

[4931 rows x 4 columns]

In [13]:
occupancy = assigned_df.groupby('day').family_size.sum().values
occupancy

array([289, 271, 294, 293, 263, 242, 223, 247, 273, 297, 288, 292, 275,
       250, 245, 272, 292, 292, 271, 248, 223, 244, 264, 291, 292, 296,
       273, 249, 234, 251, 278, 283, 252, 235, 205, 184, 202, 233, 253,
       226, 210, 183, 204, 229, 247, 281, 256, 223, 204, 198, 222, 248,
       256, 223, 208, 185, 173, 196, 219, 198, 174, 141, 124, 121, 149,
       170, 178, 156, 136, 123, 125, 135, 158, 185, 158, 134, 121, 125,
       142, 167, 186, 167, 138, 120, 128, 155, 174, 203, 177, 152, 130,
       122, 130, 158, 183, 158, 128, 125, 122, 124])

In [14]:
min_occupancy = np.array([max(0, MIN_OCCUPANCY - x) for x in occupancy])
min_occupancy

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 4, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0,
       0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 3, 1])

In [15]:
max_occupancy = np.array([MAX_OCCUPANCY - x for x in occupancy])
max_occupancy

array([ 11,  29,   6,   7,  37,  58,  77,  53,  27,   3,  12,   8,  25,
        50,  55,  28,   8,   8,  29,  52,  77,  56,  36,   9,   8,   4,
        27,  51,  66,  49,  22,  17,  48,  65,  95, 116,  98,  67,  47,
        74,  90, 117,  96,  71,  53,  19,  44,  77,  96, 102,  78,  52,
        44,  77,  92, 115, 127, 104,  81, 102, 126, 159, 176, 179, 151,
       130, 122, 144, 164, 177, 175, 165, 142, 115, 142, 166, 179, 175,
       158, 133, 114, 133, 162, 180, 172, 145, 126,  97, 123, 148, 170,
       178, 170, 142, 117, 142, 172, 175, 178, 176])

In [16]:
def solveIP(families, min_occupancy, max_occupancy):
    solver = pywraplp.Solver('AssignmentProblem', pywraplp.Solver.CBC_MIXED_INTEGER_PROGRAMMING)
    n_families = len(families)
    
    x={}
    
    candidates = [[] for x in range(N_DAYS)]
    
    for i in families:
        for j in DESIRED[i,:]:
            candidates[j].append(i)
            x[i,j] = solver.BoolVar('x[%i,%i]' %(i,j))
    #print(x)
    daily_occupancy = [solver.Sum([x[i,j] * FAMILY_SIZE[i] for i in candidates[j]]) \
                        for j in range(N_DAYS)]
    
    family_presence = [solver.Sum(x[i,j] for j in DESIRED[i,:]) \
                for i in families]
    
    preference_cost = solver.Sum([pcost_mat[i,j] *x[i,j] for i in families \
                                  for j in DESIRED[i,:]])
    
    solver.Minimize(preference_cost)
    
    for j in range(N_DAYS-1):
        solver.Add(daily_occupancy[j] - daily_occupancy[j+1]<=25)
        solver.Add(daily_occupancy[j+1] - daily_occupancy[j]<=25)
        
    for i in range(n_families):
        solver.Add(family_presence[i]==1)
    for j in range(N_DAYS):
        solver.Add(daily_occupancy[j]>=min_occupancy[j])
        solver.Add(daily_occupancy[j]<=max_occupancy[j])
        
    result = solver.Solve()
    #print(x)
    temp = [(i,j) for i in families \
        for j in DESIRED[i,:] if x[i,j].solution_value()>0]
    df = pd.DataFrame(temp, columns=['family_id','day'])
    return df
#solveLP()

In [17]:
unassigned = unassigned_df.family_id.unique()

result = solveIP(unassigned,min_occupancy, max_occupancy)

In [18]:
result.head()

   family_id  day
0         59   38
1        240   32
2        357   24
3        488   39
4        500   26

In [19]:
df = pd.concat((assigned_df[['family_id', 'day']],result)).sort_values('family_id')
df

      family_id  day
0             0   51
1             1   25
2             2   99
3             3    1
4             4   52
...         ...  ...
5077       4995   15
5078       4996   87
5079       4997   31
5080       4998   91
5081       4999   12

[5000 rows x 2 columns]

In [20]:
from numba import njit

@njit(fastmath=True)
def pcost(prediction):
    daily_occupancy = np.zeros(N_DAYS+1, dtype=np.int64)
    penalty = 0
    for (i,p) in enumerate(prediction):
        n = FAMILY_SIZE[i]
        penalty += pcost_mat[i,p]
        daily_occupancy[p] += n
    return penalty, daily_occupancy

@njit(fastmath=True)
def acost(daily_occupancy):
    accounting_cost = 0
    num_out_of_range = 0
    daily_occupancy[-1] = daily_occupancy[-2]
    
    for day in range(N_DAYS):
        n_p1 = daily_occupancy[day+1]
        n = daily_occupancy[day]
        
        num_out_of_range += (n>MAX_OCCUPANCY) or (n<MIN_OCCUPANCY)
        accounting_cost += acost_mat[n,n_p1]
    return accounting_cost, num_out_of_range

@njit(fastmath=True)
def cost_function(prediction):
    penalty, daily_occupancy = pcost(prediction)
    accounting_cost, num_out_of_range = acost(daily_occupancy)
    final_score = penalty+accounting_cost+num_out_of_range *99999999
    return final_score

In [21]:
prediction = df.day.values
prediction
cost_function(prediction)

77473.67044966153

In [22]:
def save_result(pred, filename):
    result = pd.DataFrame(range(N_FAMILY), columns=['family_id'])
    result['assigned_day'] = pred +1
    result.to_csv(filename, index=False)
    print(filename+' saved')
    return result
result = save_result(prediction, 'submission1.csv')

submission1.csv saved

In [23]:
#优化

def find_better(pred):
    #fobs = np.argsort(FAMILY_SIZE, reverse=True)
    fobs = np.argsort(FAMILY_SIZE)
    #print(fobs)
    score = cost_function(pred)
    original_score = np.inf
    
    while score<original_score:
        original_score = score
        
        for family_id in fobs:
            for pick in range(10):
                day = DESIRED[family_id, pick]
                oldvalue = pred[family_id]
                pred[family_id] = day
                new_score = cost_function(pred)
                
                if new_score<score:
                    score = new_score
                else:
                    pred[family_id] = oldvalue
        print(score, end='\r')
    print(score)

In [24]:
new = prediction.copy()
find_better(new)

73245.62596051418

In [25]:
result = save_result(new, 'submission2.csv')

submission2.csv saved